body {
  background-color: black;
}

h1 {
  color: dodgerblue;
  text-decoration: underline;
  font-family: sans-serif;
  font-style: italic;
}

.mybutton {
  background: #04cfcf;
  background: linear-gradient(to top, #04cfcf 29%, #b0cfbd 100%);
  color: black;
  border: 10px;
  padding: 10px;
  border-radius: 15px;
}

.mybutton:hover {
  background: yellow;
}
